
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/App/Index.css" rel="stylesheet" />

<h1> App! </h1>
<s3b-app></s3b-app>
<div id="app">
    <div id="controls">
        <h2>Controls</h2>
        <button id="play-pause-button" class="btn font-weight-bold text-light play"> Play </button>
        <button id="reset-button" class="btn font-weight-bold text-light reset"> Reset </button>
        <div id="bpm-div" class="btn bg-info text-light">
            <label for="bpm"> BPM </label>
            <input type="number" id="bpm" name="bpm" min="1" max="360" value="83">
        </div>
    </div>
    <section id="track-section">
        <h2> Tracks </h2>
        <div id="track-container">

        </div>
    </section>
    <div id="gallery-container">
        <h2> Gallery </h2>
        <div class="gallery-scroll-pane">
            <div id="gallery">
                <div class="gallery-item btn" draggable="false">
                    <p>Add Sample</p>
                    <svg viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/App/App.js"></script>